In [6]:
adic={"name": "nayab", "age":24}

In [7]:
type(adic)

dict

In [8]:
emptyDic={}

In [9]:
type(emptyDic)

dict

In [11]:
adic["city"]= "Karachi"

In [12]:
adic

{'name': 'nayab', 'age': 24, 'city': 'Karachi'}

In [13]:
adic["city"]= "Islamabad"

In [14]:
adic

{'name': 'nayab', 'age': 24, 'city': 'Islamabad'}

In [15]:
adic["city"]

'Islamabad'

In [18]:
 adic.get("name")

'nayab'

In [19]:
del adic["city"]

In [3]:
adic={"name": "nayab", "age":24}

In [4]:
adic["course"]= "Python"

In [6]:
adic["course_timing"]="9 to 12"

In [7]:
adic

{'name': 'nayab', 'age': 24, 'course': 'Python', 'course_timing': '9 to 12'}

In [8]:
for roll1 in adic:
    print(roll1)

name
age
course
course_timing

In [12]:
for k in adic.keys():
    print(k)

name
age
course
course_timing

In [13]:
for v in adic.values():
    print(v)

nayab
24
Python
9 to 12

In [15]:
for keys in adic.keys():
    print(adic[keys])

nayab
24
Python
9 to 12

In [18]:
for keys in adic.keys():
    print(f"The key is {keys} and the value is {adic[keys]}")

The key is name and the value is nayab
The key is age and the value is 24
The key is course and the value is Python
The key is course_timing and the value is 9 to 12

In [19]:
for xyz in adic.items():
    print(xyz)

('name', 'nayab')
('age', 24)
('course', 'Python')
('course_timing', '9 to 12')

In [22]:
for key,value in adic.items():
    print(f"Key: {key}                value: {value}")

Key: name                value: nayab
Key: age                value: 24
Key: course                value: Python
Key: course_timing                value: 9 to 12

In [23]:
for value,key in adic.items():
    print(f"Key: {key}                value: {value}")

Key: nayab                value: name
Key: 24                value: age
Key: Python                value: course
Key: 9 to 12                value: course_timing

In [1]:
 class_python= { "students":[ 'nayab','hamza', 'huzaifa','alishba'],
                "courses":["python",'GD','chatbot','networking'],
                "age":[21,32,21,22],
                "days":["monday",'tuesday','wednesdat','thursday']
     
 }

In [2]:
class_python["courses"]

['python', 'GD', 'chatbot', 'networking']

In [3]:
for keys,values in class_python.items():
    print(values)

['nayab', 'hamza', 'huzaifa', 'alishba']
['python', 'GD', 'chatbot', 'networking']
[21, 32, 21, 22]
['monday', 'tuesday', 'wednesdat', 'thursday']

In [4]:
for keys,values in class_python.items():
    print(values[1])

hamza
GD
32
tuesday

In [5]:
import pandas

In [6]:
pandas.DataFrame(class_python)

  students     courses  age       days
0    nayab      python   21     monday
1    hamza          GD   32    tuesday
2  huzaifa     chatbot   21  wednesdat
3  alishba  networking   22   thursday

In [7]:
class_python["courses"]

['python', 'GD', 'chatbot', 'networking']

In [8]:
a=['python', 'GD', 'chatbot', 'networking']

In [9]:
for name in a:
    if name=="chatbot":
        print(True)
        break
    else:
        print(False)

False
False
True

In [10]:
for name in a:
    if name=="chatbot":
        print(True)
        break

True

In [11]:
if "chatbot" in a:
    print(True)

True

In [12]:
"chatbot" in a

True

In [14]:
for key in class_python:
    if key=="courses":
        for course in class_python[key]:
            print(course)

python
GD
chatbot
networking

In [15]:
for key in class_python["courses"]:
    print(key)

python
GD
chatbot
networking